@{
    ViewBag.Title = "Home Page";
}

<h1>Watch Some Counters</h1>

<div class="row">
    <div class="col-md-4">
        <label>
            Select a category
            <select size="5" data-bind="options: performanceCounters, 
                                         optionsText:'name',                                         
                                         value:selectedCounter"></select>
        </label>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" data-bind="click: watchCounter">Watch it!</button>
    </div>    
    <div class="col-md-4">
        <div data-bind="text: message"></div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var perfHub = $.connection.perfHub;
        $.connection.hub.start().done(function () {
            perfHub.server.hello("Scott");
        });
        
        perfHub.client.hello = function (message) {
            model.message(model.message() + message);
        };

        var Model = function(){
            var self = this;
            self.message = ko.observable(""),
            self.performanceCounters = ko.observableArray(),
            self.selectedCounter = ko.observable(),
            self.watchedCounters = ko.observableArray()
        };
        
        Model.prototype = {

            watchCounter: function(){
                var self = this;               
                self.watchedCounters.push(self.selectedCounter());
            },

            getCounters: function () {
                var self = this;
                $.get("/perf/counters").success(function (data) {
                    self.addCounters(data);
                });
            },

            addCounters: function(counters){
                var self =  this;
                $.each(counters, function(index, value){
                    self.performanceCounters.push(value);
                });
            }

        };
                
        var model = new Model();
        
        var init = function () {
            ko.applyBindings(model);
            model.getCounters();            
        };

        $(init);
    </script>

}