@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <label>
            Select a category
            <select size="20" data-bind="options: performanceCategories,
                                         value:selectedCategory"></select>
        </label>
    </div>
    <div class="col-md-4" data-bind="visible: selectedCategory">
        <label>
            Select a counter
            <select size="20" data-bind="options: performanceCounters"></select>
        </label>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script>
        var Model = function(){
            var self = this;
            self.performanceCategories = ko.observableArray(),
            self.performanceCounters = ko.observableArray(),
            self.selectedCategory = ko.observable(),
            self.selectedCounter = ko.observable(),
            self.selectedCategory.subscribe(function () {
                self.updateCounters();
            });            
        };
        
        Model.prototype = {

            updateCounters: function () {
                var self = this;
                var url = "/perf/" + self.selectedCategory() + "/counters";
                self.performanceCounters.removeAll();
                $.get(url).success(function (data) {
                    self.addCounters(data);
                });
            },

            getCategories: function () {
                var self = this;
                $.get("/perf/categories").success(function (data) {
                    self.addCategories(data);
                });
            },

            addCounters: function(counters){
                var self =  this;
                $.each(counters, function(index, value){
                    self.performanceCounters.push(value);
                });
            },

            addCategories: function (categories) {
                var self = this;
                $.each(categories, function (index, value) {
                    self.performanceCategories.push(value);
                });
            }
        };
                
        var model = new Model();
        
        var init = function () {
            ko.applyBindings(model);
            model.getCategories();
        };

        $(init);
    </script>

}