@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <section class="col-sm-6">
        <h3>AJAX Call (Use Cookie)</h3>
        <small class="text-info">Login using the Login link in the top right</small>
        <div>
            <button class="btn" data-bind="click:getSecret">Get Secret</button>
        </div>
    </section>
    <section class="col-sm-6">
        <h3>AJAX Call (Use Token)</h3>
        <small>Login with AJAX using the following form</small>
        <form>
            <input type="text" data-bind="value:username" placeholder="Username" class="form-control"/>
            <input type="password" data-bind="value:password" placeholder="Password" class="form-control"/>
            <button class="btn" data-bind="click:login">Login</button>
            <div>Token: <span data-bind="text:token"></span></div>
            <button class="btn" data-bind="click:getSecret">Get Secret</button>
        </form>
    </section>
</div>
<div class="row">
    <section class="col-md-12">
        <h3>Request</h3>
        <pre data-bind="text:ajaxRequest">  </pre>
    </section>
    <section class="col-md-12">
        <h3>Response</h3>
        <pre data-bind="text:ajaxResponse"></pre>
    </section>
    <section class="col-md-12">
        <button class="btn" data-bind="click:clearAll">Clear All</button>
    </section>
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script>
        window.apiUrl = "/api/secretapi";
        window.loginUrl = "/token";
    </script>
    <script>
        $(function() {

            var Model = function() {
                var self = this;
                self.ajaxRequest = ko.observable("");
                self.ajaxResponse = ko.observable("");
                self.username = ko.observable("");
                self.password = ko.observable("");
                self.token = ko.observable("");
            };

            Model.prototype = {

                login: function () {
                    var self = this;
                    var credentials = {
                        username: self.username(),
                        password: self.password(),
                        grant_type: "password"
                    };
                    $.post(loginUrl, credentials)
                        .done(function(response) { self.loginComplete(response); })
                        .always(function(response) { self.showResponse(response); });
                },               
                
                loginComplete: function(response) {
                    var self = this;
                    self.showResponse(response);
                    self.token(response["access_token"]);
                    self.username("");
                    self.password("");
                },

                showRequest: function(xhr, settings) {
                    var self = this;
                    var interestingData = {
                        url: settings.url,
                        type: settings.type
                    };

                    self.ajaxRequest(self.stringify(interestingData));
                },

                showResponse: function(responseData) {
                    var self = this;
                    self.ajaxResponse(self.stringify(responseData));
                },

                getSecret: function() {
                    var self = this;
                    var headers = {};
                    if (self.token()) {
                        headers["Authorization"] = "Bearer " + self.token();
                    }                    
                    $.ajax(apiUrl, { headers:headers }).always(function(response) {
                        self.showResponse(response);
                    });
                },
                
                clearAll: function() {
                    var self = this;
                    self.ajaxRequest("");
                    self.ajaxResponse("");
                },
                
                stringify: function(object) {
                    return JSON.stringify(object, null, 2);
                }
            };

            var model = new Model();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    model.showRequest(xhr, settings);
                }
            });
            ko.applyBindings(model);
        });
    </script>
}