<div class="row">
    <div class="col-md-6">
        <h2>MVC Examples</h2>
        @Html.Partial("_allMvcExamples")
    </div>
    <div class="col-md-6">
        <h2>API Examples</h2>
        @Html.Partial("_allApiExamples")
    </div>
</div>
